.THIS {
    padding-left:20px;
}

h1.THIS{
    color:orange;
    background-color:palegreen;
    font-size:x-large;
}

.THIS h1{
    color:indigo;
    font-size:x-large;
}

.THIS h2.divClass {
    font-size: 20px;
    color: #117A65;
    font-style: italic;
    margin-bottom: 15px;
}

.THIS lightning-input {
    font-size: 16px;
}

.THIS lightning-button {
    font-size: 16px;
}