.THIS {
    padding:50px;
}

h1.THIS{
    color:maroon;
    font-size:xx-large;
}

p.THIS{
    color:green;
    padding:10px;
}

.THIS h1{
    color:aqua;
    background-color: indigo;
    font-size:xx-large;
    margin:10px;
}