.room-list {
    display: flex;
    flex-wrap: wrap;
}
.room-list > div {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.selected-room {
    border-top: 1px solid #ccc;
    margin-top: 1rem;
}

.nmsg{
    color:red;
    font-size: xx-large;
}